fastapi>=0.115.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9       # PDF file upload support

# PDF
pdfplumber==0.11.0

# LLM
groq>=0.9.0

# Embeddings + similarity
torch==2.1.2
numpy>=2.0.0
scikit-learn>=1.5.0          # cosine_similarity

# DB
sqlalchemy>=2.0.36
aiosqlite==0.20.0             # async SQLite driver

# Config
python-dotenv==1.0.1

# Testing
pytest==8.2.0
httpx==0.27.0                 # async test client for FastAPI
pytest-asyncio==0.23.7

# Logging
structlog==24.1.0

pydantic-settings==2.3.4

streamlit>=1.35.0
torch==2.1.2